.logControl-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5px 20px;
    h2{
        font-size: 2rem;
    }
    .btn {
        background-color: rgba(37, 37, 37, 0.781);
    }
    
} 